header {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
header h1 {
  color: #01996D;
  font-size: 1.5em;
}
header .contain {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
@media only screen and (max-width: 1024px) {
  header .contain {
    display: none;
  }
}
header .contain nav {
  width: 50%;
}
header .contain nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .contain nav ul li {
  display: flex;
}
header .contain nav ul li a {
  color: black;
  text-decoration: none;
}
header .contain div {
  width: 25%;
}
header .contain div ul {
  display: flex;
  justify-content: space-around;
  padding-left: 0%;
}
header .contain div ul li {
  display: flex;
  align-items: center;
}
header .contain div ul li a {
  color: black;
  text-decoration: none;
}
header .menu-button {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  header .menu-button {
    display: flex;
  }
}
header svg {
  height: 40px;
  width: 40px;
  fill: #01996D;
  stroke: #01996D;
  transition: all 0.75s ease;
}

footer {
  background-color: #245852;
  height: 60vh;
}
footer .end {
  width: 75%;
  height: 60vh;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
footer .end h3 {
  font-weight: 900;
  color: white;
  font-size: 1.5em;
}
footer .end ul {
  height: 40vh;
  flex-direction: column;
  padding-left: 0%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
footer .end ul li a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 0.8em;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  margin: 0%;
}
body .contain_2 {
  display: none;
}
body .actif {
  display: flex;
  flex-direction: column;
}
body .actif nav {
  width: 90%;
  margin: auto;
}
body .actif nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  body .actif nav ul {
    padding: 0%;
  }
}
body .actif nav ul li {
  display: flex;
}
body .actif nav ul li a {
  color: black;
  text-decoration: none;
}
body .actif div {
  width: 50%;
  margin: auto;
}
body .actif div ul {
  display: flex;
  justify-content: space-around;
  padding-left: 0%;
}
body .actif div ul li {
  display: flex;
  align-items: center;
}
body .actif div ul li a {
  color: black;
  text-decoration: none;
}
body .bouton {
  background-color: #01996D;
  color: white;
  padding: 0 35px;
  border-radius: 4px;
  height: 40px;
  text-align: center;
  border: none;
}
body .bouton:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  body .bouton {
    padding: 0 25px;
  }
}
body #hero {
  background-image: url(./images/hero.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-content: center;
}
body .first-section {
  width: 80%;
  margin: auto;
}
body .first-section .first-bloc {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 28%;
  height: 75%;
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  body .first-section .first-bloc {
    width: 100%;
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  body .first-section .first-bloc {
    width: 40%;
  }
}
body .first-section .first-bloc h2 {
  font-family: "georgia", serif;
  font-size: 3em;
  color: #01996D;
  font-weight: 700;
}
body .first-section .first-bloc p {
  line-height: 1.5em;
  background-color: rgba(255, 255, 255, 0.25);
}
@media only screen and (max-width: 768px) {
  body .first-section .first-bloc p {
    text-align: center;
  }
}
body .second-section {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10%;
}
body .second-section h3 {
  font-weight: 600;
}
body .second-section h2 {
  font-family: "georgia", serif;
  font-size: 3em;
  color: #01996D;
  font-weight: 700;
}
body .second-section .titletext-bloc {
  display: flex;
  width: 80%;
  margin: 5% 10%;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  body .second-section .titletext-bloc {
    flex-direction: column;
    justify-content: flex-start;
  }
}
body .second-section .title-bloc {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  body .second-section .title-bloc {
    width: 95%;
  }
}
body .second-section .text-bloc {
  width: 45%;
  height: 20%;
}
@media only screen and (max-width: 768px) {
  body .second-section .text-bloc {
    width: 95%;
  }
}
body .second-section .article-bloc {
  display: flex;
  width: 80%;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  body .second-section .article-bloc {
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  body .second-section .artbas {
    margin-top: 20%;
  }
}
body .second-section article {
  display: flex;
  margin: auto;
  width: 26%;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  z-index: 0;
}
@media only screen and (max-width: 768px) {
  body .second-section article {
    width: 80%;
    margin-top: 10%;
  }
}
body .second-section article span {
  position: absolute;
  color: #01996D;
  opacity: 0.2;
  top: -0.5em;
  z-index: -1;
  font-size: 7em;
  font-family: "Georgia", serif;
}
body .second-section article h3 {
  text-align: center;
  font-family: "Georgia", serif;
  font-size: 1.3em;
  min-height: 50px;
}
@media only screen and (max-width: 768px) {
  body .second-section article h3 {
    text-align: left;
    margin: 5%;
  }
}
body .second-section article p {
  margin-bottom: 0%;
  line-height: 1.5em;
  min-height: 220px;
}
@media only screen and (max-width: 768px) {
  body .second-section article p {
    text-align: center;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}
body .second-section article img {
  width: 100%;
  height: auto;
}
body .third-section {
  background-color: #245852;
  height: 95vh;
  display: flex;
}
@media only screen and (max-width: 768px) {
  body .third-section {
    height: 99vh;
    margin-bottom: 10%;
  }
}
body .third-section .third-bloc {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  body .third-section .third-bloc {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
}
body .third-section .third-bloc .third-txt-bloc {
  width: 40%;
}
@media only screen and (max-width: 768px) {
  body .third-section .third-bloc .third-txt-bloc {
    width: 95%;
    text-align: center;
    margin-bottom: 3%;
  }
}
body .third-section .third-bloc .third-txt-bloc h2 {
  color: white;
  font-family: "Georgia", serif;
  font-weight: 700;
  font-size: 2.5em;
}
@media only screen and (max-width: 768px) {
  body .third-section .third-bloc .third-txt-bloc h2 {
    font-size: 2em;
  }
}
body .third-section .third-bloc .third-txt-bloc p {
  color: white;
  line-height: 1.5em;
}
body .third-section .third-bloc .YT {
  width: 60%;
  height: auto;
}
@media only screen and (max-width: 768px) {
  body .third-section .third-bloc .YT {
    width: 100%;
    margin-bottom: 5%;
  }
}
body .third-section .third-bloc .YT img {
  width: 100%;
  height: auto;
}
body .fourth-section {
  padding-top: 10vh;
  padding-bottom: 15vh;
}
@media only screen and (max-width: 768px) {
  body .fourth-section {
    height: 120vh;
  }
}
body .fourth-section .fourth-bloc {
  width: 80%;
  height: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
@media only screen and (max-width: 768px) {
  body .fourth-section .fourth-bloc {
    flex-direction: column;
    height: 75%;
  }
}
body .fourth-section .fourth-bloc .fourth-txt-bloc {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 0%;
}
@media only screen and (max-width: 768px) {
  body .fourth-section .fourth-bloc .fourth-txt-bloc {
    width: 100%;
    justify-content: center;
  }
}
body .fourth-section .fourth-bloc .fourth-txt-bloc h3 {
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  body .fourth-section .fourth-bloc .fourth-txt-bloc h3 {
    text-align: left;
    width: 100%;
  }
}
body .fourth-section .fourth-bloc .fourth-txt-bloc h2 {
  font-family: "georgia", serif;
  font-size: 3em;
  color: #01996D;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  body .fourth-section .fourth-bloc .fourth-txt-bloc h2 {
    text-align: center;
  }
}
body .fourth-section .fourth-bloc .fourth-txt-bloc p {
  font-weight: 400;
  line-height: 1.5em;
}
@media only screen and (max-width: 768px) {
  body .fourth-section .fourth-bloc .fourth-txt-bloc p {
    text-align: center;
  }
}
body .fourth-section .fourth-bloc .photo-bloc {
  position: relative;
  width: 55%;
  display: flex;
}
@media only screen and (max-width: 768px) {
  body .fourth-section .fourth-bloc .photo-bloc {
    width: 70%;
  }
}
body .fourth-section .fourth-bloc .photo-bloc div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
body .fourth-section .fourth-bloc .photo-bloc div img {
  width: 80%;
  height: auto;
  z-index: 0;
}
body .fourth-section .fourth-bloc .photo-bloc .card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  width: 44%;
  top: 60%;
  right: 60%;
  z-index: 1;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
@media only screen and (max-width: 768px) {
  body .fourth-section .fourth-bloc .photo-bloc .card {
    width: 60%;
  }
}
body .fourth-section .fourth-bloc .photo-bloc .card h5 {
  font-weight: 600;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-bottom: 10%;
  margin-bottom: 3%;
}
body .fourth-section .fourth-bloc .photo-bloc .card div {
  background-color: rgba(1, 153, 109, 0.2);
  border-radius: 50%;
}
body .fourth-section .fourth-bloc .photo-bloc .card div img {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  border-radius: 50%;
}
body .fourth-section .fourth-bloc .photo-bloc .card p {
  font-weight: 400;
  font-size: 0.8em;
  margin-bottom: 0%;
}
body .fourth-section .fourth-bloc .photo-bloc .card h4 {
  font-family: "georgia", serif;
  font-weight: 700;
  height: -moz-fit-content;
  height: fit-content;
  margin: 3% 0%;
  text-align: center;
}
body .fourth-section .fourth-bloc .photo-bloc .card ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 5% 10% 0%;
}
body .fourth-section .fourth-bloc .photo-bloc .card ul li {
  font-weight: 400;
  font-size: 0.8em;
  line-height: 2em;
}/*# sourceMappingURL=style.css.map */